// Include these style overrides after uswds.scss for them to be later in the cascade.

.usa-banner-inner img {
  margin-right:.3em;
  opacity:.33;
}

.card-img-top {
  height: auto;
  width: 100%;
}

.card-red {
  background: $color-star-red;
}

.card-bahama-blue {
  background: $color-bahama-blue;
}

.card-malibu-blue {
  background: $color-malibu-blue;
}

.card-lochmara-blue {
  background: $color-lochmara-blue;
}

.card-cornflower-blue {
  background: $color-cornflower-blue;
}
